<!-- <ngb-pagination [collectionSize]="40" [(page)]="page"></ngb-pagination>-->

<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="blocklyDiv2" #blocklyDiv></div>
      <div style="height: 235px;">
        <h6 style="margin-top: 10px;">Hilfe</h6>
        <p>
          Der Blockly-Editor (siehe oben) besteht aus zwei Bereichen. Links die Kategorien mit den verfügbaren Blöcken und rechts die Programmierfläche. Du kannst eine Kategorie anklicken,
          einen Block auswählen und auf die Programmierfläche ziehen.
        </p>
        <p>
          Über die Schaltfläche <strong>Ausführen</strong> wird ein Programm ausgeführt und dein Roboter führt die Aktionen aus. Die Auswahlbox <strong>Grid anzeigen</strong> zeigt das Spielfeldraster an.
          Dadurch kannst du sehen, wie groß ein Schritt deines Roboters ist. Die Auswahlbox <strong>Kartendaten anzeigen</strong> zeigt dir die Werte der einzelnen Felder an. Die brauchst du,
          um sie mit dem Farbsensor auszulesen.
        </p>
        <p>
          Bei jedem neuen Durchlauf wird dein Roboter zunächst auf die Ausgangsposition zurückgesetzt.
        </p>
      </div>
    </div>
    <div class="col-5"> <!--style="border: 2px solid yellow;">-->
      <div class="row"> <!--style="border: 2px solid brown;">-->
        <div class="col-12">
          <ngb-tabset>
            <ngb-tab title="Aufgabe {{ currentTask }} von {{ maxTasks }}">
              <ng-template ngbTabContent>
                <div innerHTML="{{ taskText }}"></div>
              </ng-template>
            </ngb-tab>
            <!--<ngb-tab title="Aufgabe 2">
              <ng-template ngbTabContent>
                <p>Ich bin die Aufgabe 2...
                </p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Aufgabe 3" [disabled]="true">
              <ng-template ngbTabContent>
                <p>Ich bin die Aufgabe 3... aslkdfj laskdjf laskdfj laskdfj klasdfj laskdfj lkasdfj aklsdfj aklsdfj asklfj asklfj laskdfj askldfj askldfj asklfj askldfj asklfj l
                  aslkdfj laksjdf klasdjfkl asjf aklsjf laskfj klasjdf lkasjdf lkasdfj kdddddddddd skldjf laksdfj klasdjf
                </p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Aufgabe 4">
              <ng-template ngbTabContent>
                <p>Ich bin die Aufgabe 4... aslkdfj laskdjf laskdfj laskdfj klasdfj laskdfj lkasdfj aklsdfj aklsdfj asklfj asklfj laskdfj askldfj askldfj asklfj askldfj asklfj l
                  aslkdfj laksjdf klasdjfkl asjf aklsjf laskfj klasjdf lkasjdf lkasdfj kdddddddddd skldjf laksdfj klasdjf
                </p>
              </ng-template>
            </ngb-tab>-->
          </ngb-tabset>
      </div>
      </div>
      <div class="row"> <!-- style="border: 2px solid purple;">-->
        <div class="col-12"> <!--style="padding-left: 15px;">-->
          <!--<button (click)="exportUserProgram()">Export</button>-->
          <!--<button (click)="importUserProgram()">Import</button>-->
          <button (click)="run()">Ausführen</button>
          <!--<button (click)="reset()">Zurücksetzen</button>-->
          {{ emulationStatus }}
          <input type="checkbox" name="toggleGrid" id="toggleGrid" (change)="toggleGrid()">
          <label for="toggleGrid">Grid anzeigen</label>
          <input type="checkbox" name="toggleMapData" id="toggleMapData" (change)="toggleMapData()">
          <label for="toggleMapData">Kartendaten anzeigen</label>
          <button (click)="taskDone()">{{ taskDoneText }}</button>
        </div>
      </div>
      <div class="row align-items-end"> <!--style="border: 2px solid blue;">-->
        <div class="col-12 align-self-end">
          <div #canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
